.column-left{
    %basic-box{
        border-radius: 2px;
        position: relative;
        border-color: rgb(112, 112, 112) 1px solid;
        padding: 10px;
        line-height: 0.5;
        padding: 15px 15PX;
        background-color: #FFF;
        margin-bottom: 5px;
        span.title{
            font-weight: bold;
            color: rgb(53, 53, 53);
        }
        
    }
    margin-top: 10px;
    padding: 0 0 30px 0;
    .box {
        @extend %basic-box;
        &.filters-box{
            @media (min-width: 991.99px) {
                div.title{
                    &::before{
                        content:"Filtros";
                        font-weight: bold;
                    }
                }
                
                .arrow-up, .arrow-down{
                    display: none;
                }
            }
            @media (max-width: 991.98px) {
                display: flex;
                align-items: center;
                justify-content: center;
                div.title{
                    &::before{
                        content:"Filtrar"!important;
                        font-weight: bold;
                    }
                    display: inline-flex;
                    color: #157ab1;
                }
                .arrow-down{
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-top: 7px solid #157ab1;
                    position: relative;
                    display: inline-flex!important;
                    width: 15px;
                    margin: 0 10px;
                    height: 15px;
                    user-select: none;
                }
                .arrow-up{
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 7px solid #157ab1;
                    position: relative;
                    display: inline-flex!important;
                    width: 15px;
                    margin: 0 0 0 25px;
                    height: 9px;
                    user-select: none;
                }
    
            }
        }
    }
    
    .search-box{
        @extend %basic-box;
        position: relative;
        .arrow-up{
            width: 0; 
            height: 0; 
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            position: absolute;
            right: 15px;
            border-bottom: 7px solid #157ab1;
            user-select: none;
        }
        .arrow-down{
            width: 0; 
            height: 0; 
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            position: absolute;
            right: 15px;
            border-top: 7px solid #157ab1;
            user-select: none;
        }
        .search-box-header{
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            .magnifier{
                background-image: url('./../../../assets/icons/filters/search.svg');
                background-size: 20px 20px;
                width: 20px;
                height: 20px;
            }
            .star-blue{
                background-image: url('./../../../assets/icons/filters/star-blue.svg');
                background-size: 20px 20px;
                width: 20px;
                height: 20px;
            }
            .search-box-text{
                padding: 6px 10px;
                font-size: 0.9em;
                color:#157ab1;
                font-weight: bold;  
            }
        }
        .input-search{
            display: flex;
            flex-direction: row;
            input{
                border-radius: 3px;
                font-size: 0.9em;
                border: solid 1px #666666;
                margin: 10px 5px 5px 5px;
                padding: 5px;
                width: 100%;
                
            }
            .button{
                cursor: pointer;
                margin: 10px 5px 5px 5px;
                padding: 10px;
                text-align: center;
                border-radius: 3px;
                color: #FFF;
                height: 30px;
                background-color: #003374;
                width: 120px;
                user-select: none;
            }
        }
    }
}